@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: all 0.3s;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

.explore {
  display: grid;
  padding: 1rem;
  /* grid-template-columns: repeat(3,200px); */
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  justify-content: center;
}
@media screen and (max-width: 640px) {
  .explore {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 1rem;
  }
}
.progress {
  top: 0;
  left: 0;
  height: 10px;
  box-shadow: 0 0 5px #0000004d;
  animation: 5s linear infinite bar-progress;
  background-color: #62c99c;
  background-size: 1rem 1rem;
  border-radius: 10px;
  background-image: linear-gradient(
    135deg,
    #40b884 0 25%,
    #0000 25% 50%,
    #40b884 50% 75%,
    #0000 75% 100%
  );
}
@keyframes bar-progress {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -60px -60px;
  }
}

.productCard {
  display: grid;
  /* grid-template-columns: repeat(3,200px); */
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  grid-auto-rows: 300px;
  gap: 1.5rem;
  padding: 1rem;
  justify-content: center;
}

.arrivals {
  display: grid;
  /* grid-template-columns: repeat(3,200px); */
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: max-content;
  gap: 1rem;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .arrivals {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}
@media screen and (max-width: 400px) {
  .arrivals {
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  }
}
.arrivalCard:hover .arrivalImage1 {
  display: none;
}
.arrivalCard:hover .arrivalImage2 {
  display: block;
}

.colorCrd {
  height: 20px;
  width: 35px;
  border: 1px solid rgb(207, 207, 207);
}

.range {
  -webkit-appearance: none;
  height: 4px;
  background: #000;
  outline: none;
  border-radius: 10px;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #000;
  cursor: pointer;
}

.range::-moz-range-thumb {
  width: 25px;
  height: 10px;
  cursor: pointer;
  border-radius: 50%;
  background: #04aa6d;
  cursor: pointer;
}
.track {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: max-content;
  gap: 1rem;
  justify-content: center;
}
@media screen and (max-width: 400px) {
  .track {
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  }
}
.newArrivals {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: max-content;
  gap: 1rem;
  justify-content: center;
}
@media screen and (max-width: 400px) {
  .newArrivals {
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  }
}

.pulse,
.impulse {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  margin-right: 8px;
  display: inline;
  background-color: #54c63a;
  position: relative;
}

.pulse::before,
.impulse::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  margin-right: 8px;
  display: inline;
  background-color: #54c63a;
  animation: pulse 2s linear infinite;
}
.impulse {
  background-color: orange;
}
.impulse::before {
  background-color: orange;
}
@keyframes pulse {
  0% {
    opacity: 0.5;
  }
  100% {
    transform: scale(2.5);
    opacity: 0;
  }
}
